/* ------------------Nav-bar  ---------------------- */
*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
a{
color: #5a5a5a;
}
img{
    cursor: pointer;
    border-radius: 100%;
margin-top: 4px;

}
.logo{
color: green;
font-size: 37px;

}
#logo{
    color: black;
    font-size: 37px;
}
#menu{
    margin-top: -1px;

}
/* Logo headdiv */
#Logo{
    display: flex;
    margin-top: -6px;
    margin-left: 6px;
}
.left{
display: flex;
gap: 3px;

}
.flex-div{
    display: flex;
    justify-content: space-between;
}
nav{

    padding: 10px   2%;
justify-content: center;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ;
background: #fff;
position: sticky;
top: 0px;
z-index: 1;

}
.right{
    display: flex;
gap: 12px;

}
.search,#search,#search-icon{
height: 36px;
/* border */
}
#search-icon{
background-image: url(./pic/bad\ room.jpg);
    position: relative;
    background-size: cover;
    width: 30px;
    height: 30px;
    right: 50px;
    top: 6%;
    border: transparent;
    border-radius: 100%;
    background: transparent;
    cursor: pointer;
}
#search{
    width: 100%;
    padding: 15px 12px;
    border-radius: 30px;
    border: 1px solid   black;
    outline: none;
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    font-size: 18px;
    padding-right: 45px;
}
.search{
    margin-left: -23px;

}
.middle{
display: flex;
width:39%;
/* gap: 4; */
}
#searc{
    border: 1px solid   black;
    height: 36px;

}
/* -------------------- Side-bar ---------------------- */
.side-bar{
    background-color: white;
    width: 15%;
    height:100vh;
    position: fixed;
    top: 0%;
    padding-left: 2%;
    padding-top:80px ;
    overflow-y: auto;
}

.short-cut-links a img{

    width: 20px;
    height: 20px;
margin-right: 20px;
margin-top: 4px;
}


.short-cut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;

}

.short-cut-links a:first-child{
color: rgb(0, 152, 23);
}

.side-bar hr{
color: #ccc
}

/* Subscribed   list */

.subscribe-list h3{
    font-size: 13px;
    margin: 20px   0px ;
    color:#5a5a5a ;

}

.subscribe-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    
    }
    .subscribe-list a   img{
width: 25px;
border-radius: 60%;        
margin-right: 20px;
height: 27px;
        }
/* Small    sidebar    from js  file    using  */

.small-sidebar{
    width: 6%;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}
.small-sidebar a p{
display: none;
}
.small-sidebar h3{
display: none;
}
/* ------------Main-----Banner-------- */
.container{

    background-color:#f9f9f9 ;
    padding:20px 2% 20px 17%;

}
.large-container{
padding-left: 7%;
}
.banner{
width: 100%;
}
.banner img{
    width: 99%;
    border-radius: 8px;
    height: 238px;
    margin-bottom: 25px;
    
}
/* video    list    container */
.vid-list a img{
width: 30px;
}
.lis-container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.vid-list{
    align-items: flex-start;
margin-top: 7px;

}
 .vid-list{
    width: 25%;

}
.vid-list .tumbnail{
    width: 96%;
    border-radius: 5px;
}
.vai-info  {
    color: #5a5a5a;
    font-size: 13px;
}
.vai-info a{
    color: #000;
    font-weight:600;
    display: block;
    margin-bottom: 7px;
}  
/* responsive   for small   screen   using media    querry */
@media(max-width:900px){
#menu{
display: none;
}
.side-bar{
    display: none;
}
.container, .large-container{
    padding-left: 5%;
    padding-right: 5%;
}
.right  img{
    display: none;

}
.logo,#logo{
font-size: 27px;
margin-top:10px ;
}
.right .user-icon{
    display: block;
    width: 30px;

}
.middle #search{
    width: 150%;
padding: 0px 2px 0px 1px;
margin-left: 3px;
}
.speaker{
display: none;
}

.vid-list{
    width: 33%

}
.banner img{

    height: 96px;
    width: 96%;
}
}
@media(max-width:568px){
.vid-list{
width: 50%;
}
}
@media(max-width:414px){
    .vid-list{
    width: 100%;
    }
    }
    /* page 2 css work */
    .play-video{
        padding-left: 17px;

    }
    .row{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
    }
    .play-video{

        flex-basis: 69%;
    }
    .right-sidebar{
  flex-basis: 69%;      
    }
    .play-video video{
        width: 100%;
    }
    /* .side-video-list{
        display: flex;
        justify-content: space-between;
margin-bottom: 8%;
    } */
   /* .side-video-list img{
    width: 100%;

    } */
    .small-thumbnail{
        width: 40px;

    }